

.prod_main_div{
  width: 100%;
background-color: #F3F3F3;
}

.prod_top{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.popUp {
  width: 75.375rem !important;
  height: 30rem;
  border-radius: 5px;
  flex-direction: row;
}

.top_txt{
  width: 80%;
  margin: auto;
}

.top_txt h3{
  margin: 30px 0px;
  font-size: 1.5rem;
  font-weight: bolder;
  align-self: center;
}

.bnr_img{
  width: 100%;
}

.second_bnr{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.second_bnr>div:nth-child(2){
  width: 35%;
  height: 100%;
}

.second_bnr>div:nth-child(1){
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3E4A5F;
  font-size: large;
  background-color: #CACACA;

}
.second_bnr img{
width: 100%;
height: 100%;
}


.second_bnr a{
  color: #F92F79;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

a:hover{
  color: #F92F79;
}


.product_section{
  width: 80%;
  /* border: 5px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
}

.sidebar{
  padding-top: 50px;
  width: 30%;
  /* border: 5px solid red; */

}

.product_containor{
  width: 75%;
}

.sort{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin: 30px auto;
}

.sort button{
  background-color: white;
  border: 1px solid black;
  width: 50%;
  font-weight: 700;
  }

.sort>select{
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 40px;
  font-weight: 500;
}





.card{
  width: 100%;
}

.btn{
  display: flex;
}


    



@media only screen and (max-width: 800px) {

  .prod_top{
    width:90%;
  }

   .bnr_img{
    width: 100%;
    height: 150px;
    margin: auto;
  }

  .second_bnr{
  height: max-content;
    flex-direction: column;

  }
  
  .second_bnr>div:nth-child(1){
    width: 100%;
    height: max-content;
 
  }

  .second_bnr>div:nth-child(2){
    width: 100%;
  }

  .sidebar{
    display: none;
  }

  .product_containor{
  width: 100%;
}

  .sort{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
  }

}
@media only screen and (max-width: 500px) {

  .prod_top{
    width: 90%;
    margin: auto;
  }

   .bnr_img{
    width: 100%;
    height: 150px;
    margin: auto;
  }

  .second_bnr{
  height: max-content;
    flex-direction: column;
  }
  
  .second_bnr>div:nth-child(1){
    width: 100%;
  }
  .second_bnr>div:nth-child(2){
    width: 100%;
  }
  .sort{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
  }

}
