.lgnpg{
    padding-top: 60px;
    width: 100%;
    height: 680px;
    /* background: linear-gradient(120deg,#11cdef,#1171ef)!important; */
    
    /* clip-path: polygon(0% 20%,
                  0% 0%,
                  100% 0%,
                 100% 100%,
                  0% 100%,
                  0% 100%,
                   0% 0%); */
    background-image: 
  url("https://static.startuptalky.com/2022/04/Nykaa-marketing-Strategy-StartupTalky.jpg");
    width: 100%;
    height: 678px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and(max-width: 430px){
    .lgnpg{
        padding-top: 60px;
        background: linear-gradient(220deg,#11cdef,#1171ef)!important;
        width: 100%;
        height: 980px;
        clip-path: polygon(0% 20%,
                      0% 0%,
                      100% 0%,
                     100% 100%,
                      0% 100%,
                      0% 100%,
                       0% 0%);
    }
}