.sing-prod{
    
    height: 310px;
    display: grid;
    grid-column: auto;
    padding: 8px;
    margin: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.prod-img-single{
    /* border: 1px solid blue; */
    width: 170px;
    margin-left: 35px;
    height: 90%;
}
.single-prod-title{
    overflow: hidden;
    height: 90%;
}
.single-prod-delete{
    width: 40%;
    background-color: rgb(212, 78, 15);
    color: white;

}
.single-prod-update{
    width: 40%;
    background-color: rgb(214, 220, 31);
}

@media only screen and (max-width: 1200px) {
    .sing-prod{
        /* border: 1px solid red; */
        height: 290px;
        display: grid;
        grid-column: auto;
        padding: 5px;
    }
    .prod-img-single{
        /* border: 1px solid blue; */
        width: 100px;
        margin-left: 35px;
    }
    .single-prod-delete{
        width: 40%;
        background-color: rgb(212, 78, 15);
        color: white;
    
    }
    .single-prod-update{
        width: 40%;
        background-color: rgb(214, 220, 31);
    }
    .sing-prod>div{
        width: 90%;
        font-size: 13px;
        font-weight: 500;
    }
}
@media only screen and (max-width: 800px) {
    .sing-prod{
        /* border: 1px solid red; */
        height: 240px;
        display: grid;
        grid-column: auto;
        padding: 5px;
        width: 200px;
    }
    .prod-img-single{
        /* border: 1px solid blue; */
        width: 100px;
        margin-left: 35px;
    }
    .single-prod-delete{
        width: 40%;
        background-color: rgb(212, 78, 15);
        color: white;
    
    }
    .single-prod-update{
        width: 40%;
        background-color: rgb(214, 220, 31);
    }
    .sing-prod>div{
        width: 90%;
        font-size: 13px;
        font-weight: 500;
    }
    
}

@media only screen and (max-width: 428px) {
    .sing-prod{
        /* border: 1px solid red; */
        height: 270px;
        display: grid;
        grid-column: auto;
        padding: 7px;
        width: 160px;
        margin: auto;
    }
    .prod-btn{
        width: 30%;
    }
    .sing-prod>div{
        width: 90%;
        font-size: 13px;
        font-weight: 500;
    }
    .prod-img-single{
        /* border: 1px solid blue; */
        width: 80px;
    }
    .single-prod-title{
        /* border: 1px solid grey; */
        height: 45px;
        overflow: hidden;
    }
    .single-prod-delete{
        width: 40%;
        background-color: rgb(212, 78, 15);
        color: white;

    }
    .single-prod-update{
        width: 40%;
        background-color: yellow;
    }
}